@media (min-width: 320px) and (max-width: 992px){
    .header {
        &.border-bottom {
            border-bottom: none!important;
        }

        &.text-center {
            font-size: 2rem;
        }
    }
}

@media (min-width: 992px) { 
    .header {
        &.text-center {
            font-size: var(--bs-body-font-size);
        }

        &.border-bottom {
            border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
        }
    }
}